
.info-container {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;

}

.section {
    width: 48%;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.row img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 50%;
}

.info {
    flex-grow: 1;
}

.info h3 {
    margin: 0;
    font-size: 18px;
}

.info p {
    margin: 5px 0 0;
    font-size: 14px;
}
